<section class="github section">
    <div class="section-inner">
        <h2 class="heading">СВЯЗАТЬСЯ СО МНОЙ</h2>
        <form action="{% url 'name_send_form' %}" method="post">
            {% csrf_token %}

            {% for f in form %}
            <div>{{f.errors}}</div>
            <p><label class="form-label" for="{{form.title.id_for_lable}}">{{f.label}}</label> {{f}}</p>
            {% endfor %}
            <div class="clear"></div>
            <button type="submit" class="btn btn-cta-primary "><i class="fa fa-paper-plane"></i>
                Отправить мне сообщение
            </button>
            <div class="clear"></div>
        </form>
    </div>
</section>
<!-- -->